.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.brown {
    background: saddlebrown;
}

.brown-text {
    color: #e69e6a;
}

.blue {
    background: #0677dd;
}

.blue-text {
    color: #e6a7e7;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}